/*ENTIRE WEBSITE*/

body,html, h1, h2, h3, p, ol, ul, li, a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body{
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
}

h1{
    font-size: 40px;
    color: #7facaa;
    margin: 15px 0 15px 0;
    text-align: center;
    font-family: 'Asul', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 30px;
    color: #7facaa;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px;
    font-family: 'Asul', sans-serif;
    font-weight: bold;
}

h3{
    font-family: 'Asul', sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: #333333;
    padding: 5px 0 5px 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

p{
    margin: 10px 0 10px 0;
}

a{
    text-decoration: none;
}

ul{
    padding: 0 0 0 50px;
}

ol{
    padding: 0 0 0 50px;
}

.header{
    padding: 10px;
    background-color: #b56663;
}

.header a{
    color: #FFFFFF;
}

.header img{
    display: block;
    margin: 0 auto 15px auto;
    height: 100px;
}

.main{
    background: #f5f5f5;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

    /*SPECIFIC TO NAV CLASS ON ENTIRE WEBSITE*/
    .nav{
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        margin: 5px 0 20px 0;
        text-align: center;
    }

    .nav a:hover{
        text-decoration: underline;
    }

    .nav a{
        color: #FFFFFF;
        text-decoration: none;
    }

    .nav li{
        display: inline;
    }

/*SPECIFIC TO HOME PAGE*/

.featuredImage{
    margin: auto;
    background: url("../images/cucumberSandwiches.jpeg") no-repeat;
    width: 616px;
    height: 462px;
}

.featuredImage a:hover{
    text-decoration: underline;
}

.featuredImage a{
    color: #FFFFFF;
    text-decoration: none;
}

/*SPECIFIC TO RECIPES PAGE*/

.recipes{
    list-style-type: none;
    padding:0;
}

.recipes li{
    margin: 10px;
    border: 1px solid #000000;
    padding-left: 15px;
    background-color: #FFFFFF;
}

.recipes img{
    float: left;
    width: 75px;
    padding: 6px 15px 0 0;
}

.recipes h2{
    border-bottom: 0;
}

.recipes a{
    color: #7facaa;
    text-decoration: none;
}

/*SPECIFIC TO PAGES WITH RECIPES ON THEM*/

.recipeContent{
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
    width: 500px;
}

.recipePhotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.recipePhotos img{
    padding: 10px;
    display: block;
    height: 200px;
}

/*SPECIFIC TO SUGGEST PAGE*/

.formContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input{
    width: 90%;
    margin-bottom: 25px;
}

input[type=submit]{
    width: 120px;
    font-size: 30px;
}

input[type=text]{
    border: 2px solid #7FACAA;
    font-size: 20px;
    padding: 7px;
}

textarea{
    width: 90%;
    height: 500px;
    padding: 7px;
    border: 2px solid #7FACAA;
    margin-bottom: 25px;
    font-size: 24px;
}

.checkBox{
    display: flex;
}

.checkBox label{
    width: 130px;
}

.textInput label{
    display: block;
    margin-bottom: 10px;
}